{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Image Search Engine</title>
</head>

<body>
<div class="wrapper bg-cover min-h-screen m-auto flex font-Primary-regular signUpBackground">
    <!-- Container -->
    <div class="container w-full flex">

        <!-- The overview section -->
        <div class="overview w-1/2 h-full pt-20 flex flex-col justify-start items-center">
            <span class="font-Primary-bold text-2xl text-white">NEW HERE ?</span>
            <p class="w-[60%] mt-3 mb-7 flex text-center font-Primary-bold text-lg tracking-wider text-white">
                ISE helps you search for the product according to the image you provide most accurately</p>
            <a href="{% url 'register' %}" class="w-[100px] h-[40px] font-Primary-bold font-medium text-lg flex justify-center
          items-center border-2 bg-[#DEE1E6] p-[9px] rounded-3xl text-[#51459E]
          hover:bg-[#51459E]  hover:text-[#DEE1E6] hover:border-[#DEE1E6]
          transition-all duration-500 ease-in-out uppercase">Sign Up</a>
        </div>
        <!-- End the overview section -->

        <!-- Display the form login -->
        <div class="form-login flex flex-col w-1/2  justify-center items-center">

            <!-- Form login title -->
            <h2 class="form-title font-Primary-bold font-bold text-3xl text-[#51459E]">
                Image Search Engine
            </h2>
            <!-- End the form login title -->
            {% for error in form.email.errors %}
                <p>* {{ error }}</p>
            {% endfor %}
            {% for error in form.password.errors %}
                <p>* {{ error }}</p>
            {% endfor %}

            <!-- Form -->
            <form action="{% url 'login' %}" method="post" class="form-group flex flex-col w-full px-40 mt-6 mb-4">
                {% csrf_token %}
                <!-- The email field -->
                <label for="email" class="email-label w-full p-2 mb-2 overflow-hidden">
                    {{ form.email }}
                </label>
                <!-- End the email field -->

                <!-- The password field -->
                <label for="password" class="password-label w-full p-2 mb-2 overflow-hidden">
                    {{ form.password }}
                </label>
                <!-- End the password field -->

                <!-- Button submit form -->
                <button type="submit" id="loginButton" class="w-[150px] font-Primary-bold font-medium text-xl flex justify-center
              items-center border-2 bg-[#51459E] p-2 rounded-3xl text-[#DEE1E6] ml-2 mt-1
              hover:bg-[#DEE1E6] hover:text-[#51459E] hover:border-[#51459E]
              transition-all duration-500 ease-in-out uppercase">
                    Logn In
                </button>
                <!-- End the button submit form -->

            </form>
            <!-- End the form login -->
        </div>

    </div>
    <!-- End the container -->

</div>
</body>

</html>
